.chatterbox {
  height: 100vh;
  width: 100vw;
  display: flex;
}

.chatterbox div {
  box-sizing: border-box;
}

.sidepanel {
  width: 20%;
  height: 100%;
  background-color: #454857;
  padding: 5px;
  border-right: 1px solid #BEE2E7;
}

.chatContainer {
  display: flex;
  flex-direction: column;
  flex-flow: column-reverse;
  width: 80%;
  height: 100%;
}

.messages {
  width: 100%;
  background-color: #454857;
  color: #4F57AA;
  font-weight: bold;
  border-bottom: 1px solid #BEE2E7;
}

.input {
  align-self: flex-end;
  width: 100%;
  background-color: #454857;
  padding: 10px 5px;
}