.chatlistholder {
  height: 100%;
  width: 100%;
}

.chatlist {
  display: flex;
  flex-direction: column-reverse;
  height: 100%;
  margin: 0%;
  box-sizing: border-box;
  overflow: scroll;
  padding: 4px 6px;
}

.messageRow {
  border: 1px solid black;
  margin:5px;
  padding: 5px;
  box-sizing: border-box;
  border-radius: 10px;
  background-color: #BEE2E7;
}