.inputholder {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;
  align-items: stretch;
  justify-content: space-around;
}

.messageinput {
  width: 83%;
  height: 30px;
  font-size: 1.53em;
}

.sendbutton {
  width: 13%;
}